<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.app.main.pokebase"
          android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pokeball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        tools:replace="android:theme">
        <activity
            android:name="com.app.main.pokebase.activities.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.GenderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.TeamViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.PokemonProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PokemonProfileTheme">
        </activity>
        <activity
            android:name="com.app.main.pokebase.activities.PokemonEditorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PokemonEditorTheme">
        </activity>
    </application>

</manifest>